.intro {
  background: url('../images/bermuda-triangle.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  /* box-shadow: x y spread size color; */
  box-shadow: 0 1px 10px 1px black;
}

.intro h1 {
  text-align: center;
  text-shadow: 0 0 3px white;
}

.intro p {
  color: white;
  text-shadow: 0 0 5px black;
}

iframe {
  height: 300px;
}

